In [1]:
import pandas as pd
file_path = "EXIST_2023/EXIST2023_Task1_age.xlsx"
data = pd.read_excel(file_path)

In [3]:
len(data)

3260

In [2]:
data.head(10)

,Unnamed: 0,id,tweet,number_annotators,annotators,gender_annotators,age_annotators,labels_task1,Total_vote,Total_age1,Total_age2,Total_age3,majority_vote,age1_vote,age2_vote,age3_vote
0,0,200001,FFS! How about laying the blame on the bastard...,6,"['Annotator_391', 'Annotator_392', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'NO', 'NO', 'YES', 'NO']",3,1,1,1,1,0,0,0
1,1,200002,Writing a uni essay in my local pub with a cof...,6,"['Annotator_391', 'Annotator_392', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'YES', 'NO', 'YES', 'YES']",5,2,1,2,1,1,0,1
2,2,200003,@UniversalORL it is 2021 not 1921. I dont appr...,6,"['Annotator_397', 'Annotator_398', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'NO', 'YES', 'NO', 'YES']",4,1,2,1,1,0,1,0
3,3,200004,@GMB this is unacceptable. Use her title as yo...,6,"['Annotator_403', 'Annotator_404', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'NO', 'YES', 'NO', 'NO']",3,1,2,0,1,0,1,0
4,4,200005,‘Making yourself a harder target’ basically bo...,6,"['Annotator_409', 'Annotator_410', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'NO', 'NO', 'NO', 'YES']",3,1,1,1,1,0,0,0
5,5,200006,According to a customer I have plenty of time ...,6,"['Annotator_409', 'Annotator_410', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'YES', 'YES', 'YES', 'YES']",6,2,2,2,1,1,1,1
6,6,200007,"So only 'blokes' drink beer? Sorry, but if you...",6,"['Annotator_415', 'Annotator_416', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'YES', 'YES', 'YES', 'YES']",6,2,2,2,1,1,1,1
7,7,200008,New to the shelves this week - looking forward...,6,"['Annotator_420', 'Annotator_296', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['NO', 'NO', 'NO', 'YES', 'NO', 'NO']",1,0,1,0,0,0,0,0
8,8,200009,#EverydaySexism We can &amp; need to do better...,6,"['Annotator_425', 'Annotator_426', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['YES', 'YES', 'NO', 'NO', 'YES', 'NO']",3,1,1,1,1,0,0,0
9,9,200010,I guess that’s fairly normal for a Neanderthal...,6,"['Annotator_431', 'Annotator_432', 'Annotator_...","['F', 'F', 'M', 'M', 'M', 'F']","['18-22', '23-45', '18-22', '23-45', '46+', '4...","['NO', 'NO', 'NO', 'NO', 'YES', 'NO']",1,0,0,1,0,0,0,0

Find records that has disagreement among annotators

In [3]:
def has_disagreement(label_list):
    label_list = eval(label_list)
    return 'YES' in label_list and 'NO' in label_list

disagreement_records = data[data['labels_task1'].apply(has_disagreement)]
disagreement_records=disagreement_records[['id','tweet','number_annotators','annotators','gender_annotators','age_annotators','labels_task1',"Total_vote","Total_age1","Total_age2","Total_age3","majority_vote"]]
disagreement_records.to_excel('EXIST_2023/Age_Complete_disagreement_records.xlsx', index=False)

In [4]:
len(disagreement_records)

2170

In [2]:
import pandas as pd
data_d=pd.read_excel("EXIST_2023/Age_Complete_disagreement_records.xlsx")

Age1_disagreement

Age2_disagreement

Age3_disagreement

In [ ]:
#filtered_df_f = data_d[(data_d["Total_age3"] == 1)]

In [ ]:
#filtered_df_f.to_excel("EXIST_2023/age2_disagreement_records.xlsx")